@model MyHR_Web.Models.TLost

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>失物領回</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">佈告欄</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

  
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="CEmployeeId" class="control-label"></label>
                    <input asp-for="CEmployeeId" class="form-control" />
                    <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CDeparment" class="control-label"></label>
                    <input asp-for="CDeparment" class="form-control" />
                    <span asp-validation-for="CDeparment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPhone" class="control-label"></label>
                    <input asp-for="CPhone" class="form-control" />
                    <span asp-validation-for="CPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostSubject" class="control-label"></label>
                    <input asp-for="CLostSubject" class="form-control" />
                    <span asp-validation-for="CLostSubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostCategory" class="control-label"></label>
                    <input asp-for="CLostCategory" class="form-control" />
                    <span asp-validation-for="CLostCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostPropertyPhoto" class="control-label"></label>
                    <input asp-for="CLostPropertyPhoto" class="form-control" />
                    <span asp-validation-for="CLostPropertyPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostProperty" class="control-label"></label>
                    <input asp-for="CLostProperty" class="form-control" />
                    <span asp-validation-for="CLostProperty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostDate" class="control-label"></label>
                    <input asp-for="CLostDate" class="form-control" />
                    <span asp-validation-for="CLostDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostSpace" class="control-label"></label>
                    <input asp-for="CLostSpace" class="form-control" />
                    <span asp-validation-for="CLostSpace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostPropertyDescription" class="control-label"></label>
                    <input asp-for="CLostPropertyDescription" class="form-control" />
                    <span asp-validation-for="CLostPropertyDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostCheckStatus" class="control-label"></label>
                    <input asp-for="CLostCheckStatus" class="form-control" />
                    <span asp-validation-for="CLostCheckStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
    <div>
        <a asp-action="Getthing">返回失物招領</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
