@model MyHR_Web.ViewModel.CTravelViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>新增差旅費</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">佈告欄</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    

    <h4>差旅費</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                @*todo Reina<div class="form-group">
                    <label asp-for="CDepartment" class="control-label"></label>
                    <input asp-for="CDepartment" class="form-control" />
                    <span asp-validation-for="CDepartment" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="CEmployeeId" class="control-label"></label>
                    <input asp-for="CEmployeeId" class="form-control" />
                    <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CReason" class="control-label"></label>
                    <input asp-for="CReason" class="form-control" />
                    <span asp-validation-for="CReason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CApplyDate" class="control-label"></label>
                    <input asp-for="CApplyDate" class="form-control" />
                    <span asp-validation-for="CApplyDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CTravelStartTime" class="control-label"></label>
                    <input asp-for="CTravelStartTime" class="form-control" />
                    <span asp-validation-for="CTravelStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CTravelEndTime" class="control-label"></label>
                    <input asp-for="CTravelEndTime" class="form-control" />
                    <span asp-validation-for="CTravelEndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CAmont" class="control-label"></label>
                    <input asp-for="CAmont" class="form-control" />
                    <span asp-validation-for="CAmont" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="新增" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ListAll">返回 差旅費一覽表</a>
    </div>
</div>
