@model IEnumerable<MyHR_Web.ViewModel.CInterviewDetailsViewModel>

<div class="card-blue">
    <div class="card-header">
        <h3 class="card-title">@Model.Select(n => n.name).FirstOrDefault().ToString()</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @Model.Select(n => n.process).FirstOrDefault().ToString()
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        @Model.Select(n => n.departname).FirstOrDefault().ToString()
    </div>
    <!-- /.card-footer-->
</div>