@model MyHR_Web.ViewModel.CInterviewListViewModel

<div class="row">

    <div class="card" style="width:60%;margin:0px auto;padding:0px;">
        <div class="card-header">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group" style="display:none">
                    <label asp-for="CInterVieweeId" class="control-label"></label>
                    <input asp-for="CInterVieweeId" class="form-control" readonly="readonly" />
                    <span asp-validation-for="CInterVieweeId" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none">                    
                    <label asp-for="CInterVieweeGender" class="control-label"></label>
                    <input asp-for="CInterVieweeGender" class="form-control" />
                    <span asp-validation-for="CInterVieweeGender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CInterVieweeName" class="control-label"></label>
                    <input asp-for="CInterVieweeName" class="form-control">
                    <span asp-validation-for="CInterVieweeName" class="text-danger"></span>
                </div>

                <div class="form-group" >
                    <label asp-for="CEmployeeEnglishName" class="control-label"></label>
                    <input asp-for="CEmployeeEnglishName" class="form-control" />
                    <span asp-validation-for="CEmployeeEnglishName" class="text-danger"></span>
                </div>

                <div class="form-group" >
                    <label asp-for="CPhone" class="control-label"></label>
                    <input asp-for="CPhone" class="form-control" />
                    <span asp-validation-for="CPhone" class="text-danger"></span>
                </div>

                <div class="form-group" >
                    <label asp-for="CEmail" class="control-label"></label>
                    <input asp-for="CEmail" class="form-control" />
                    <span asp-validation-for="CEmail" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none">
                    <label asp-for="CAddress" class="control-label"></label>
                    <input asp-for="CAddress" class="form-control" />
                    <span asp-validation-for="CAddress" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none">
                    <label asp-for="CBirthday" class="control-label"></label>
                    <input asp-for="CBirthday" class="form-control" />
                    <span asp-validation-for="CBirthday" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none">
                    <label asp-for="CAge" class="control-label"></label>
                    <input asp-for="CAge" class="form-control" />
                    <span asp-validation-for="CAge" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CEducation" class="control-label"></label>
                    <input asp-for="CEducation" class="form-control" />
                    <span asp-validation-for="CEducation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CInterViewDate" class="control-label"></label>
                    <input asp-for="CInterViewDate" class="form-control" />
                    <span asp-validation-for="CInterViewDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CDepartmentName" class="control-label"></label>
                    <input asp-for="CDepartmentName" class="form-control" />
                    <span asp-validation-for="CDepartmentName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CJobTitleName" class="control-label"></label>
                    <input asp-for="CJobTitleName" class="form-control" />
                    <span asp-validation-for="CJobTitleName" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                    <label asp-for="CStatus" class="control-label"></label>
                    <input asp-for="CStatus" class="form-control" />
                    <span asp-validation-for="CStatus" class="text-danger"></span>
                </div>*@

                
                <div class="card-footer">
                    <input type="submit" value="取消修改" class="btn btn-default btn-lg" onclick="return(confirm('修改尚未完成，確定離開此頁?'))" asp-action="List" />
                    @*<input type="button" value="確認修改" class="btn btn-info btn-lg float-right" onclick="editSubmit('@(JsonSerializer.Serialize(Model))')" , style="filter: grayscale(50%)" />*@
                    <input type="submit" value="確認修改" class="btn btn-info btn-lg float-right" onclick="return(confirm('確定修改?'))" style="filter: grayscale(50%)" />
                </div>
            </form>       
        </div>
    </div>
</div>