@*@model IEnumerable<MyHR_Web.Models.TEvent>;
    @{var events = (IEnumerable<MyHR_Web.Models.TEvent>)ViewData["TEvent"]; }*@
@{var userid=ViewData["userId"];}

@{ ViewBag.Title = "Calender"; }
<style>
    #h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>




<div class="content-wrapper">
    <section class="content-header">
        <h2 id="h2">Calendar</h2>
    </section>
    <div class="card">
        <div class="card-header">
            <div id="calender">
                @*跳出來的表單*@
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-remove" data-dismiss="modal"></span> 刪除
                                </button>
                                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                    <span class="glyphicon glyphicon-pencil"></span> 編輯
                                </button>
                                <p id="pDetails"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModalSave" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<h4 class="modal-title"><span id="eventTitle"></span></h4>*@
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                @*<h4 class="modal-title">Save Event</h4>*@
                            </div>
                            <div class="modal-body">
                                <form class="col-md-12 form-horizontal">
                                    <input type="hidden" id="hdEventID" value="0" />
                                    <input type="hidden" id="EmployeeId" value="@userid" />
                                    <div class="form-group">
                                        <label>標題</label>
                                        <input type="text" id="txtSubject" class="form-control" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label>開始時間</label>
                                        <div class="input-group date" id="dtp1">
                                            <input type="text" id="txtStart" class="form-control" autocomplete="off" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />全天</label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divEndDate" style="display:none">
                                        <label>結束時間</label>
                                        <div class="input-group date" id="dtp2">
                                            <input type="text" id="txtEnd" class="form-control" autocomplete="off" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>內容</label>
                                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>主題顏色</label>
                                        <select id="ddThemeColor" class="form-control">
                                            <option value="">Default</option>
                                            <option value="red">Red</option>
                                            <option value="blue">Blue</option>
                                            <option value="black">Black</option>
                                            <option value="green">Green</option>
                                        </select>
                                    </div>
                                    <button type="button" id="btnSave" class="btn btn-success" data-dismiss="modal">儲存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">*@


@section Scripts{


    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/Calendar/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: data[i].eventId,
                                employeeId: data[i].employeeId,
                                title: data[i].subject,
                                subject: data[i].subject,
                                description: data[i].description,
                                start: moment(data[i].start),
                                end: data[i].end != null ? moment(data[i]) : null,

                                color: data[i].themeColor,
                                allDay: data[i].isFullDay,
                            });


                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('錯誤');
                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    hiddenDays: [6, 0],
                    contentHeight: "auto",
                    eventLimit: true,
                    eventColor: '#3787d8', //'#378006',

                    events: '/Calendar/GetEvents',
                    eventClick: function (calEvent, jsEvent, view) { //點開出現的內容
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.subject);
                        //$('#fc-title').text(calEvent.subject);

                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("MM-DD-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("MM-DD-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },


                    eventRender: function (event, element) {
                        element.find('.fc-title').append('- ' + event.subject);
                        element.css('background-color', event.themeColor);
                        element.css('opacity', .6);
                    },

                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            'EventId': event.EventId,
                            'EmployeeId': event.EmployeeId,
                            'Subject': event.Subject,
                            'Start': event.Start.format('MM/DD/YYYY HH:mm A'),
                            'End': event.End != null ? event.End.format('MM/DD/YYYY HH:mm A') : null,
                            'Description': event.Description,
                            'ThemeColor': event.themeColor,
                            'IsFullDay': event.IsFullDay
                        };
                        SaveEvent(data);

                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('確定要刪除?')) {
                    $.ajax({
                        type: "POST",
                        url: '/Calendar/DeleteEvent',
                        data: { 'eventID': selectedEvent['eventId'] },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                //FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                            setTimeout(() => {
                                window.location.assign(window.location.href)
                            }, 100);
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            //$('#dtp1,#dtp2').datetimepicker({
            //    format: 'MM/DD/YYYY HH:mm A'
            //});
            $('#txtStart').datetimepicker({
                format: 'MM/DD/YYYY HH:mm A'
            });
            $('#txtEnd').datetimepicker({
                format: 'MM/DD/YYYY HH:mm A'
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });
            //編輯頁面
            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent['eventId']);
                    $('#txtSubject').val(selectedEvent['subject']);
                    $('#txtStart').val(selectedEvent['start'].format('MM/DD/YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent['isFullDay'] || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent['end'] != null ? selectedEvent['end'].format('MM/DD/YYYY HH:mm A') : '');
                    $('#txtDescription').val(selectedEvent['description']);
                    $('#ddThemeColor').val(selectedEvent['themeColor']);

                    console.log(selectedEvent['themeColor']);

                    $('#myModal').modal('hide');
                    $('#myModalSave').modal();
                }

                $('#btnSave').click(function () {
                    //Validation/
                    if ($('#txtSubject').val().trim() == "") {
                        alert('標題為必填欄位');
                        return;
                    }
                    if ($('#txtStart').val().trim() == "") {
                        alert('開始時間為必填欄位');
                        return;
                    }
                    if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                        alert('結束時間為必填欄位');
                        return;
                    }
                    else {
                        var startDate = moment($('#txtStart').val(), "MM/DD/YYYY HH:mm A").toDate();
                        var endDate = moment($('#txtEnd').val(), "MM/DD/YYYY HH:mm A").toDate();
                        if (startDate > endDate) {
                            alert('無效的結束時間');
                            return;
                        }
                    }

                    var data = {
                        'EventId': $('#hdEventID').val(),
                        'EmployeeId': $('#EmployeeId').val(),
                        'Subject': $('#txtSubject').val().trim(),
                        'Start': $('#txtStart').val().trim(),
                        'End': $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                        'Description': $('#txtDescription').val(),
                        'ThemeColor': $('#ddThemeColor').val(),
                        'IsFullDay': $('#chkIsFullDay').is(':checked')
                    }
                    SaveEvent(data);
                    setTimeout(() => {
                        window.location.assign(window.location.href)
                    }, 500);
                    ;                // call function for submit data to the server
                })
                function SaveEvent(data) {
                    $.ajax({
                        type: "POST",
                        url: '/Calendar/SaveEvent',
                        data: data,
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                               // FetchEventAndRenderCalendar();
                                $('#myModalSave').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            }
        })
    </script>
}
