@model MyHR_Web.ViewModel.CPropertyViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <section class="content-header">
        <header>
            <style>
                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }
            </style>
        </header>
        <h2>失物招領系統</h2>
        @Html.ActionLink("失物招領一覽表", "List", new { }, new { @type = "button", @class = "btn btn-secondary", @style = "filter: grayscale(50%)" })
        <div class="row" style="width:50%;margin:0px auto;padding:0px;">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CPropertyId" />
                <div class="form-group">
                    <label asp-for="CEmployeeId" class="control-label"></label>
                    <input asp-for="CEmployeeId" class="form-control" value="@ViewData["LOGIN_USERID"]" />
                </div>
                <div class="form-group">
                    <label asp-for="CDepartmentName" class="control-label"></label>
                    <input asp-for="CDepartmentName" class="form-control" value="@ViewData["CURRENT_LOGINED_USERDEPARTMENT"]">
                </div>
                <div class="form-group">
                    <label asp-for="CPhone" class="control-label"></label>
                    <input asp-for="CPhone" class="form-control" value="@ViewData["LOGIN_USERPHONE"]" />
                    <span asp-validation-for="CPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPropertySubjectId" class="control-label"></label>
                    <select asp-for="CPropertySubjectId" id="t主旨下拉式" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CPropertyCategoryId" class="control-label"></label>
                    <select asp-for="CPropertyCategoryId" id="t類別下拉式" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CPropertyPhoto" class="control-label"></label>
                    <input type="file" name="pimage" />
                    <span asp-validation-for="CPropertyPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CProperty" class="control-label"></label>
                    <input asp-for="CProperty" class="form-control" />
                    <span asp-validation-for="CProperty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostAndFoundDate" class="control-label"></label>
                    <input asp-for="CLostAndFoundDate" class="form-control" />
                    <span asp-validation-for="CLostAndFoundDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLostAndFoundSpace" class="control-label"></label>
                    <input asp-for="CLostAndFoundSpace" class="form-control" />
                    <span asp-validation-for="CLostAndFoundSpace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CtPropertyDescription" class="control-label"></label>
                    <input asp-for="CtPropertyDescription" class="form-control" />
                    <span asp-validation-for="CtPropertyDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPropertyCheckStatusName" class="control-label"></label>
                    <select asp-for="CPropertyCheckStatusName" id="t狀態下拉選單" class="form-control"></select>
                    <span asp-validation-for="CPropertyCheckStatusName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="修改" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>

<script>
    var propertysubject;
    $.ajax({
        url: "/Property/pSubject",
        type: "Get",
        success: function (psubject) {
            txt = "";
            console.log(psubject);
            for (let s = 0; s < psubject.length; s++) {
                txt += "<option value='" + psubject[s].cPropertySubjectId + "'>" + psubject[s].cPropertySubject + "</option>";
            }
            document.getElementById("t主旨下拉式").innerHTML = txt;
        }
    });
</script>

<script>
    var propertycategory;
    $.ajax({
        url: "/Property/pCategory",
        type: "Get",
        success: function (pcategory) {
            txt = "";
            console.log(pcategory);
            for (let c = 0; c < pcategory.length; c++) {
                txt += "<option value='" + pcategory[c].cPropertyCategoryId + "'>" + pcategory[c].cPropertyCategory + "</option>";
            }
            document.getElementById("t類別下拉式").innerHTML = txt;
        }
    });
</script>

<script>
    var propertycheck;
    $.ajax({
        url: "/Property/pCheckStatus",
        type: "Get",
        success: function (pcheck) {
            txt = "";
            console.log(pcheck);
            for (let f = 0; f < pcheck.length; f++) {
                txt += "<option value=" + pcheck[f].cPropertyCheckStatusId + ">" + pcheck[f].cPropertyCheckStatus + "</option>";
            }
            document.getElementById("t狀態下拉選單").innerHTML = txt;
        }
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
