@model MyHR_Web.ViewModel.TLeaveApplicationViewModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">


        <h2>請假單修改</h2>
        <hr />
        <div class="row">
            
                <div class="card" style="width:60%;margin:0px auto;padding:0px;">
                    <div class="card-header">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="display:none">
                            <label asp-for="CApplyNumber" class="control-label"></label>
                            <input asp-for="CApplyNumber" class="form-control" />
                            <span asp-validation-for="CApplyNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CDepartmentId" class="control-label"></label>
                            <input asp-for="CDepartmentId" class="form-control" />
                            <span asp-validation-for="CDepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CEmployeeId" class="control-label"></label>
                            <input asp-for="CEmployeeId" class="form-control" />
                            <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CApplyDate" class="control-label"></label>
                            <input asp-for="CApplyDate" class="form-control" />
                            <span asp-validation-for="CApplyDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CLeaveCategory" class="control-label"></label>
                            <input asp-for="CLeaveCategory" class="form-control" />
                            <span asp-validation-for="CLeaveCategory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CLeaveStartTime" class="control-label"></label>
                            <input asp-for="CLeaveStartTime" class="form-control" />
                            <span asp-validation-for="CLeaveStartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CLeaveEndTime" class="control-label"></label>
                            <input asp-for="CLeaveEndTime" class="form-control" />
                            <span asp-validation-for="CLeaveEndTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CReason" class="control-label"></label>
                            <input asp-for="CReason" class="form-control" />
                            <span asp-validation-for="CReason" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CCheckStatus" class="control-label"></label>
                            <input asp-for="CCheckStatus" class="form-control" />
                            <span asp-validation-for="CCheckStatus" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>*@

                    <div class="card-footer">
                      


                        <input type="submit" value="取消修改" class="btn btn-default btn-lg" onclick="return(confirm('修改尚未完成，確定離開此頁?'))" asp-action="LeaveList" />
                        <i>@*nothing*@</i><i>@*nothing*@</i>
                        <input type="submit" value="確認修改" class="btn btn-info btn-lg float-right" onclick="return(confirm('之後想用跳出視窗的方式，阿你確定要修改此病單?'))" , style="filter: grayscale(50%)" />

                    </div>
                    </form>
            </div>
        </div>
                    <div>
 
        </div>
</div>
    </section>
</div>
