@model MyHR_Web.ViewModel.TLeaveApplicationViewModel

@{ ViewData["Title"] = "LeaveCreate"; }
<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>


<div class="content-wrapper">

    <section class="content-header">
        <h2>請假申請</h2>

        <hr />
        @*<div class="col-md-9" style="width:70%; margin:0px auto;padding:0px">*@
        @*<div class="card">*@
        @*<div class="card-header p-2">
            <div class="card-body">*@

        <form asp-action="LeaveCreate">

            @*<div class="table table-bordered table-hover" style="width:50%;margin:0px auto;padding:0px;">*@
            <div class="card" style="width:60%;margin:0px auto;padding:0px;">
                @*寬度維持視窗一半，並且置中*@
                <div class="card-header" @*style="vertical-align:auto"*@>
                    @*<fieldset style="width:50%; background-color:aquamarine;align-content:center">*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="display:none">
                        <label asp-for="CApplyNumber" class="control-label"></label>
                        <input asp-for="CApplyNumber" class="form-control" />
                        <span asp-validation-for="CApplyNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CDepartmentId" class="control-label"></label>
                        <input asp-for="CDepartmentId" class="form-control" />
                        <span asp-validation-for="CDepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CEmployeeId" class="control-label"></label>
                        <input asp-for="CEmployeeId" class="form-control" />
                        <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="CApplyDate" class="control-label"></label>
                        <input asp-for="@ViewData["Today"]" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CApplyDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CLeaveCategory" class="control-label"></label>
                        <input asp-for="CLeaveCategory" class="form-control" id="Leave-Category" />
                        <span asp-validation-for="CLeaveCategory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CLeaveStartTime" class="control-label"></label>
                        <input asp-for="CLeaveStartTime" class="form-control" id="Leave_Start" max="2021-03-15" />
                        <span asp-validation-for="CLeaveStartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CLeaveEndTime" class="control-label"></label>
                        <input asp-for="CLeaveEndTime" class="form-control" id="Leave_End" />
                        <span asp-validation-for="CLeaveEndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CReason" class="control-label"></label>
                        <input asp-for="CReason" class="form-control" />
                        <span asp-validation-for="CReason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CCheckStatus" class="control-label"></label>
                        <input asp-for="CCheckStatus" class="form-control" />
                        <span asp-validation-for="CCheckStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="card-footer">
                            <input type="submit" id="LeaveCre_cancel" value="取消" class="btn btn-default btn-lg" onclick="return(confirm('申請尚未成功，確定要離開此頁嗎？'))" asp-action="LeaveList" />
                            <i>@*nothing*@</i><i>@*nothing*@</i>
                            <input type="submit" value="新增" class="btn btn-info btn-lg float-right" onclick="return (confirm('之後想用跳出視窗的方式新增，阿你確定要新增?'))" , style="filter: grayscale(50%)" />

                        </div>
                    </div>








                </div>
            </div>
        </form>
    </section>
</div>

<script>
    $(function () {
        //得到当前时间
        var date_now = new Date();
        //得到当前年份
        var year = date_now.getFullYear();
        //得到当前月份
        //注：
        //  1：js中获取Date中的month时，会比当前月份少一个月，所以这里需要先加一
        //  2: 判断当前月份是否小于10，如果小于，那么就在月份的前面加一个 '0' ， 如果大于，就显示当前月份
        var month = date_now.getMonth() + 1 < 10 ? "0" + (date_now.getMonth() + 1) : (date_now.getMonth() + 1);
        //得到当前日子（多少号）
        var date = date_now.getDate() < 10 ? "0" + date_now.getDate() : date_now.getDate();
        //设置input标签的max属性
        $("#Leave_Start").attr("max", year + "-" + month + "-" + date);
    })

   
</script>





