@using Microsoft.AspNetCore.Http;
@{ string Name = Context.Session.GetString("CURRENT_LOGINED_USERNAME");
                int jobTitle = int.Parse(Context.Session.GetString("CURRENT_LOGINED_USERJOBTITLEID"));
                int login_ureid = int.Parse(Context.Session.GetString("CURRENT_LOGINED_USERID")); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]MSIT129有限公司</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
    <!-- overlayScollarbars -->
    <link href="~/theme/dist/css/adminlte.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Home/Index" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Calendar/Calendar" role="button"><i class="far fa-calendar-alt"></i> Calendar</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!--訊息通知 Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/theme/dist/img/瑪麗亞.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        瑪麗亞
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/theme/dist/img/肥嘟嘟左衛門.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        肥嘟嘟左衛門
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Hey bro...Can u lend me some money, plz...QQ </p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/theme/dist/img/jolin.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Jolin Tsai
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">要來聽我的演唱會嗎:)</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="position:fixed">
            <!-- Brand Logo -->
            <a href="/Home/Index" class="brand-link">
                <img src="~/theme/imgs/Piggg.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-7" style="opacity: .8">
                <span class="brand-text font-weight-light">Hello@WORK</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img class="img-circle elevation-2"
                             src="/Home/ViewPhoto?id=@login_ureid"
                             alt="User Image"
                             style="width:40px;height:40px;">
                    </div>
                    <div class="info">
                        <a class="d-block" asp-controller="Home" asp-action="Profile">@Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                        @if (login_ureid == 1)
                        {@*員工管理*@
                                        <li class="nav-item">
                                            <a asp-area="" asp-controller="employee" asp-action="employeeList" class="nav-link">
                                                <i class="fas fa-user-cog"></i>
                                                <p>
                                                    員工系統/查詢
                                                </p>
                                            </a>
                                            @*<ul class="nav nav-treeview">
                                                    <li class="nav-item">
                                                        <a asp-area="" asp-controller="employee" asp-action="register" class="nav-link">
                                                            <i class="far fa-circle nav-icon"></i>
                                                            <p>註冊新員工</p>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a asp-area="" asp-controller="employee" asp-action="employeeList" class="nav-link">
                                                            <i class="far fa-circle nav-icon"></i>
                                                            <p>員工清單</p>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                        </li>
 } @*打卡*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Absence" asp-action="List" class="nav-link">
                                <i class="fas fa-clock"></i>
                                <p>打卡</p>
                            </a>
                        </li>
                        @*簽核*@
                        @{ if (jobTitle < 3)
                            {
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-file-signature"></i>
                        <p>
                            簽核
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="LeaveApplication" asp-action="List" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>請假審核</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Travel_Expense_Application" asp-action="List" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>出差審核</p>
                            </a>
                        </li>
                    </ul>
                </li>
 } }
                        @*報修*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Repair" asp-action="RepairList" class="nav-link">
                                <i class="fas fa-tools"></i>
                                <p>
                                    報修系統/查詢
                                </p>
                            </a>
                            @*<ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Repair" asp-action="RepairCreate" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>報修申請</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Repair" asp-action="RepairList" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>報修狀態查詢</p>
                                        </a>
                                    </li>
                                </ul>*@
                        </li>
                        @*請假*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Leave" asp-action="LeaveList" class="nav-link">
                                <i class="far fa-calendar-check"></i>
                                <p>請假系統/查詢</p>
                            </a>
                            @*<ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Leave" asp-action="LeaveCreate" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>假單申請</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Leave" asp-action="LeaveList" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>假單查詢</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/theme/index2.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>申請假單修改/刪除</p>
                                            <span class="right badge badge-success">New</span>
                                        </a>
                                    </li>
                                </ul>*@
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Interview" asp-action="List" class="nav-link">
                                <i class="far fa-address-card"></i>
                                <p>面試資料</p>
                            </a>
                        </li>
                        @*薪資*@
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Salary" asp-action="SalaryList" class="nav-link">
                                <i class="fas fa-money-bill-alt"></i>
                                <p>薪資系統</p>
                            </a>
                        </li>

                        @{ if (login_ureid == 7)
                            {
                @: <li class="nav-item">
                    <a asp-area="" asp-controller="Salary" asp-action="SalaryList_supervisor" class="nav-link">
                        <i class="fas fa-money-bill-alt"></i>
                        <p>薪資系統/FOR總務主管</p>
                    </a> } }

                        @*差旅*@

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Travel" asp-action="List" class="nav-link">
                            <i class="fas fa-plane-departure"></i>
                            <p>差旅費系統/查詢</p>
                        </a>
                    </li>


                    @*員工福利專區*@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-hand-holding-heart"></i>
                            <p>
                                員工福利專區
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="WuCha" asp-action="WuChaList2" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>WuCha</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Property" asp-action="List" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>失物登記/查詢</p>
                                </a>
                            </li>
                            @if (login_ureid == 7)
                            {

                <li class="nav-item">
                    <a asp-area="" asp-controller="PCheckStatus" asp-action="List" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>失物領回</p>
                    </a>
                </li>
}
                        </ul>
                    </li>
                    @*powerbi*@

                    @if (jobTitle == 1)
                    {
        <li class="nav-item">
            <a asp-area="" asp-controller="Powerbi" asp-action="Index" class="nav-link">
                <i class="fas fa-chart-bar"></i>
                <p>資料分析</p>
            </a>
        </li>
 } @*聊天系統*@

                    <li class="nav-item">
                        <a asp-area="" asp-controller="Talk" asp-action="Index" class="nav-link">
                            <i class="fas fa-chart-bar"></i>
                            <p>即時聊天室</p>
                        </a>
                    </li> @*疫情新聞*@
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Covid_19" asp-action="Covid_19" class="nav-link">
                            <i class="fas fa-shield-virus"></i>
                            <p>疫情新聞</p>
                        </a>
                    </li>  @*登出*@
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Logout" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>登出</p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>

    @RenderBody()
    @*<footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.1.0-rc
        </div>
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>*@
    <!-- /.control-sidebar -->
</div>

<!-- jQuery -->
@*<script src="~/theme/plugins/jquery/jquery.min.js"></script>*@
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/theme/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/theme/dist/js/demo.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
