
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSIT129有限公司</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>


    <!-- Theme style -->

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-6 mx-auto p-0">

            <div class="login-box">
                <div class="login-snip">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登入系統</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">註冊新員工</label>
                    <div class="login-space">
                        <div class="login">
                            <form asp-action="Login">
                                <div class="group"> <label for="user" class="label">帳號</label> <input id="user" name="txtAccount" type="text" class="input" placeholder="輸入帳號" autocomplete="off"> </div>
                                <div class="group"> <label for="pass" class="label">密碼</label> <input id="pass" name="txtPassword" type="password" class="input" data-type="password" placeholder="輸入密碼"> </div>
                                <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span>保持登入</label> </div>

                                <div class="group"> <input type="submit" class="button" style="filter: grayscale(50%)" value="登入"></a> </div>

                                <div class="hr"></div>
                                <div class="foot"> <a href="#">Forgot Password?</a> </div>
                            </form>
                        </div>


                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">帳號</label> <input id="user" type="text" class="input" placeholder="建立帳號"> </div>
                            <div class="group"> <label for="pass" class="label">密碼</label> <input id="pass" type="password" class="input" data-type="password" placeholder="輸入密碼"> </div>
                            <div class="group"> <label for="pass" class="label">確認密碼</label> <input id="pass" type="password" class="input" data-type="password" placeholder="再次輸入密碼"> </div>
                            <div class="group"> <label for="pass" class="label">信箱</label> <input id="pass" type="text" class="input" placeholder="輸入信箱"> </div>
                            <div class="group"> <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><input type="submit" class="button" style="filter: grayscale(50%)" value="註冊"> </a></div>
                            <div class="hr"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
        $(document).keyup(function (e) {
            if (e.shiftKey && e.keyCode == 49 ) { //Shift + 1
                $("#user").val(1);
                $("#pass").val(789);                
            }
            else if (e.shiftKey && e.keyCode == 50) { //Shift + 2
                $("#user").val(2);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 51) { //Shift + 3
                $("#user").val(5);
                $("#pass").val(456);
            }
            else  if (e.shiftKey && e.keyCode == 52) { //Shift + 4
                $("#user").val(7);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 53) { //Shift + 5
                $("#user").val(8);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 54) { //Shift + 6
                $("#user").val(10);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 55) { //Shift + 7
                $("#user").val(11);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 56) { //Shift + 8
                $("#user").val(12);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 57) { //Shift + 9
                $("#user").val(13);
                $("#pass").val(123);
            }
            else if (e.shiftKey && e.keyCode == 48) { //Shift + 0
                $("#user").val(14);
                $("#pass").val(123);
            }
        });
    </script>
</body>
</html>



