@*@model MyHR_Web.Models.TUser*@
@model MyHR_Web.ViewModel.TUserViewModel

@{ ViewData["Title"] = "Profile"; }

<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>個人資料</h2>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img id="imgid"
                                     class="profile-user-img img-fluid img-circle"
                                     src="~/theme/dist/img/user4-128x128.jpg"
                                     alt="User profile picture"
                                     onclick="changeImg()">
                                <!-- todo wz -->
                                <input type="file" value="更換大頭貼" onChange="doUpload(),load()" />
                                @*<img id="imgid" />*@
                                <!-- todo wz -->

                            </div>

                            <h3 class="profile-username text-center">@ViewData["CURRENT_LOGINED_USERNAME"]</h3>

                            <p class="text-muted text-center">@ViewData["CURRENT_LOGINED_USERJOBTITLE"]</p>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">關於我</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> 部門</strong>

                            <p class="text-muted">
                                @ViewData["CURRENT_LOGINED_USERDEPARTMENT"]
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>職位</strong>

                            <p class="text-muted">@ViewData["CURRENT_LOGINED_USERJOBTITLE"]</p>

                            <hr>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">settings</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="settings">

                                    <form class="form-horizontal" asp-action="ProfileEdit">
                                        <div class="form-group row">
                                            <label asp-for="CEmployeeId" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmployeeId" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CEmployeeName" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmployeeName" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CEmployeeEnglishName" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmployeeEnglishName" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CPassWord" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CPassWord" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="COnBoardDay" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input type="date" asp-for="COnBoardDay" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CByeByeDay" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input type="date" asp-for="CByeByeDay" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CGender" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CGender" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CEmail" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmail" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CAddress" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CAddress" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CDepartmentId" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CDepartmentId" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CJobTitleId" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CJobTitleId"  class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CSupervisor" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CSupervisor" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CBirthday" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input type="date" asp-for="CBirthday" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CPhone" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CPhone" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CEmergencyPerson" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmergencyPerson" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CEmergencyContact" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="CEmergencyContact" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="COnBoardStatusId" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input asp-for="COnBoardStatusId" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="CAccountEnable" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <input  asp-for="CAccountEnable" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success" , style="filter: grayscale(50%)">儲存</button>
                                            </div>
                                        </div>
                                    </form>


                                    @*<form asp-action="ProfileEdit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CEmployeeId" />
                                        <div class="form-group">
                                            <label asp-for="CEmployeeName" class="control-label"></label>
                                            <input asp-for="CEmployeeName" class="form-control" />
                                            <span asp-validation-for="CEmployeeName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CEmployeeEnglishName" class="control-label"></label>
                                            <input asp-for="CEmployeeEnglishName" class="form-control" />
                                            <span asp-validation-for="CEmployeeEnglishName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CPassWord" class="control-label"></label>
                                            <input asp-for="CPassWord" class="form-control" />
                                            <span asp-validation-for="CPassWord" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="COnBoardDay" class="control-label"></label>
                                            <input asp-for="COnBoardDay" class="form-control" />
                                            <span asp-validation-for="COnBoardDay" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CByeByeDay" class="control-label"></label>
                                            <input asp-for="CByeByeDay" class="form-control" />
                                            <span asp-validation-for="CByeByeDay" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CGender" class="control-label"></label>
                                            <input asp-for="CGender" class="form-control" />
                                            <span asp-validation-for="CGender" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CEmail" class="control-label"></label>
                                            <input asp-for="CEmail" class="form-control" />
                                            <span asp-validation-for="CEmail" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CAddress" class="control-label"></label>
                                            <input asp-for="CAddress" class="form-control" />
                                            <span asp-validation-for="CAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CDepartmentId" class="control-label"></label>
                                            <input asp-for="CDepartmentId" class="form-control" />
                                            <span asp-validation-for="CDepartmentId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CJobTitleId" class="control-label"></label>
                                            <input asp-for="CJobTitleId" class="form-control" />
                                            <span asp-validation-for="CJobTitleId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CSupervisor" class="control-label"></label>
                                            <input asp-for="CSupervisor" class="form-control" />
                                            <span asp-validation-for="CSupervisor" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CBirthday" class="control-label"></label>
                                            <input asp-for="CBirthday" class="form-control" />
                                            <span asp-validation-for="CBirthday" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CPhone" class="control-label"></label>
                                            <input asp-for="CPhone" class="form-control" />
                                            <span asp-validation-for="CPhone" class="text-danger"></span>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label asp-for="CEmergencyPerson" class="control-label"></label>
                                            <input asp-for="CEmergencyPerson" class="form-control" />
                                            <span asp-validation-for="CEmergencyPerson" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CEmergencyContact" class="control-label"></label>
                                            <input asp-for="CEmergencyContact" class="form-control" />
                                            <span asp-validation-for="CEmergencyContact" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="COnBoardStatusId" class="control-label"></label>
                                            <select asp-for="COnBoardStatusId" class="form-control" asp-items="ViewBag.COnBoardStatusId"></select>
                                            <span asp-validation-for="COnBoardStatusId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CAccountEnable" class="control-label"></label>
                                            <input asp-for="CAccountEnable" class="form-control" />
                                            <span asp-validation-for="CAccountEnable" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="修改" class="btn btn-success"  style = "filter: grayscale(50%)"/>
                                          
                                        </div>
                                    </form>*@
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    function doUpload() {

        const formdata = new FormData();
        formdata.append('photo', event.target.files[0]);
        fetch('/M05/UploadOneFile', {
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            document.write(data.msg);
        });

    }
    function changeImg() {


    }
    function load(img) {

        var r = new FileReader();
        r.onload = function () {
            var output = document.getElementById('imgid');
            output.src = r.result;
        }
        r.readAsDataURL(event.target.files[0])
    };</script>
