@model MyHR_Web.ViewModel.CAbsenceViewModel
@using Microsoft.AspNetCore.Http;
@using prjCoreDemo.ViewModel;
@{
    string Id = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);
    string Name = Context.Session.GetString("CURRENT_LOGINED_USERNAME");
    string Dep = Context.Session.GetString("CURRENT_LOGINED_USERDEPARTMENT");
    int applyNum = ViewBag.absence;
}
@{ ViewData["Title"] = "Edit";}

<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>
<div class="content-wrapper">
    <div id="list">
        <section class="content-header">
            <h2>打卡補登</h2>
        </section>
        <hr />
        <form asp-action="Edit">
            <section class="content">
                <div class="col-md-9" style="width:70%; margin:0px auto;padding:0px">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="card-body">
                                <form asp-action="Edit">
                                    <input asp-for="CApplyNumber" style="display:none" />
                                    <div class="form-group">
                                        <label asp-for="CEmployeeId" class="control-label"></label>
                                        <input asp-for="CEmployeeId" class="form-control" value="@Id" readonly="readonly" />
                                        <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="employeeName" class="control-label"></label>
                                        <input asp-for="employeeName" class="form-control" value="@Name" readonly="readonly" />
                                        <span asp-validation-for="employeeName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CDate" class="control-label"></label>
                                        <input type="date" asp-for="CDate" class="form-control" id="date" readonly="readonly" />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">補登時段</label>
                                        @{
                                            dbMyCompanyContext db = new dbMyCompanyContext();
                                            var ab_on = db.TAbsences.FirstOrDefault(a => a.CApplyNumber == applyNum && a.CEmployeeId == int.Parse(Id) && a.COn != null);
                                            var ab_off = db.TAbsences.FirstOrDefault(a => a.CApplyNumber == applyNum && a.CEmployeeId == int.Parse(Id) && a.COff != null);
                                            if (ab_on == null && ab_off == null)//上下班補打卡
                                            {
                                                <select class="form-control" id="when">
                                                    <option asp-for="COn" value="上班">上班</option>
                                                    <option asp-for="COn" value="下班">下班</option>
                                                </select>
                                            }
                                            else if (ab_on == null && ab_off != null)//補上班卡
                                            {
                                                <input asp-for="COn" class="form-control" id="ab_" value="上班" readonly="readonly" />
                                            }
                                            else if (ab_on != null && ab_off == null)//補下班卡
                                            {
                                                <input asp-for="COff" class="form-control" id="ab_" value="下班" readonly="readonly" />
                                            }
                                        }
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" id="demo_reason">事由</label>
                                        <input type="text" placeholder="請填寫事由" class="form-control" id="reason" name="reason" autocomplete="off" required />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="取消" onclick="back()" class="btn btn-default" , style="filter: grayscale(50%)" />
                                        <input type="submit" id="btnOk" value="確認" onclick="Edit()" class="btn btn-info float-right" , style="filter: grayscale(50%)" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </section>
        </form>
    </div>
</div>
    <script>
    function Edit() {
        var applyNum=@applyNum;
        var id = @Id;
        var date = $("#date").val();
        var option = $("#when option:selected").val();
        var ab_onOroff = $("#ab_").val();
        var when = "";
        if (option != null) {
            when = option;
        }
        else {
            when = ab_onOroff;
        }
        console.log(id);
        console.log(date);
        console.log(when);

        $.ajax({
            type: "post",
            dataType: "html",
            url: "/Absence/Edit",
            data: { applyNum: applyNum, id: id, date: date, when: when },
            success: function (data) {
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    };
    function back() {
        window.alert('尚未完成補登作業，確定要離開此頁面?');
    }
    $("#demo_reason").click(function () {
        $("#reason").val("睡過頭");
    });

    </script>
