@using Microsoft.AspNetCore.Http;
@using prjCoreDemo.ViewModel;
@{
    string a = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);
    DateTime Late = DateTime.Today.AddHours(10);
    TimeSpan LateTime = Late.TimeOfDay;
    DateTime Coff = DateTime.Today.AddHours(18);
    TimeSpan CoffTime = Coff.TimeOfDay;
    var countNum = ViewBag.totalCountNum;
}

@model IEnumerable<MyHR_Web.ViewModel.CAbsenceViewModel>
@{
    ViewData["Title"] = "List";
}

<head>
    <link href="~/css/Absence.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbAEOezUjyT_Cbg1TRTNCsQOtDm3BJh-Y&libraries=geometry"></script>*@


    <style>
        #absence_table {
            float: left;
            width: 98%;
            margin-left: 10px;
        }

        #left {
            width: 30%;
            float: left;
        }

        #right {
            width: 69%;
            float: right;
        }

        #countNum {
            font-size: 20px;
            text-decoration: underline;
        }
        #map {
            position: absolute;
            height: 65%;
            width: 58%;
        }
        #search, #gps {
            width: 48%;
        }
    </style>
</head>
<div class="content-wrapper">
    <section class="content-header">
        <h2>打卡</h2>
    </section>
    <section class="content">
        <div id="left">
            <body onload="ShowTime()">
                <form id="form1" runat="server" class="nowTime" style="background-color:white ;padding:20px; border-radius:10px">
                    ⽬前時間&nbsp:&nbsp<br /><div id="showbox"></div>
                    <div id="showClock"></div>
                </form>
            </body>
            <br />
            <div id="OnAndOff">
                <button type="button" class="button" onclick="clockOn()" id="on" style="filter: grayscale(50%)">上班</button>&nbsp&nbsp<button type="button" class="button" onclick="clockOff()" id="off" style="filter: grayscale(50%)">下班</button><br /><br />
            </div>
            <from method="post">
                <div>
                    <button id="gps" onclick="gps()" style="filter: grayscale(50%)" class="btn btn-info">地圖打卡</button>&nbsp&nbsp<button id="search" onclick="search()" style="filter: grayscale(50%)" class="btn btn-info">查詢打卡紀錄</button><br /><br />
                </div>
            </from>
            <div style="background-color:white ;padding:20px; border-radius:10px">
                <p id="tip">溫馨小提醒&nbsp:&nbsp</p><hr />
                <p id="tips">
                    1.&nbsp上下班皆需打卡<br />
                    2.&nbsp10:00(含)以後遲到需請假<br />
                    3.&nbsp若有異常需補打卡或是請假<br />
                    4.&nbsp每月補登打卡次數3次為上限<br />
                    5.&nbsp未18:00無法打下班卡，若要早退，需請假<br />
                    6.&nbsp定位需在紅圈範圍內才可進行打卡<br />
                </p>
            </div>
        </div>
        <div id="right">
            <section class="content">
                <form method="post" id="selectAndTable">
                    <div style="background-color:white ;padding:20px; border-radius:10px">
                        <h3>地圖打卡</h3>
                    </div>
                    <hr />
                    <div id="map"></div>
                </form>

            </section>
        </div>
    </section>
</div>

<script>
    //目前時間顯示 o
    function ShowTime() {
        var NowDate = new Date();
        var d = NowDate.getDay();
        var dayNames = new Array("星期⽇", "星期⼀", "星期⼆", "星期三", "星期四", "星期五", "星期六");
        document.getElementById('showbox').innerHTML = NowDate.toLocaleString() + '（' +
            dayNames[d] + '）';
        setTimeout('ShowTime()', 1000);
    }

    //未六點不可打下班卡 o
    $(function () {
        var d = new Date();
        var now = d.getHours();   //當前時間的小時
        d.setHours(18);//當日18時的million second
        var offTime = d.getHours();
        if (now < offTime) {
            document.getElementById("off").setAttribute("disabled", "disabled");
        }
        else {
            document.getElementById("off").removeAttribute("disabled");
        };
        }
    );

    //打上班卡 o
    function clockOn() {
        var id = @a;
        var now = new Date();
        var date = now.toISOString().substr(0, 10);

        var ans = initMap();
        if (ans=true) {
            $.ajax({
                type: "get",
                dataType: "html",
                url: "/Absence/getClockString_on",
                data: { id: @a, date: date},
                success: function (data) {
                console.log("a");
                    $("#selectAndTable").html(data);
                    console.log("clockOn");
                    initMap();
                    window.alert("您已打卡成功!");
                },
                error: function (msg) {
                    alert("error:" + msg);
                }
            })
        }
        else {
            window.alert("定位超出打卡範圍，無法打卡");
        }
    };

    //打下班卡 ?
    function clockOff() {
        var id = @a;
        var now = new Date();
        var date = now.toISOString().substr(0,10);
        var ans = initMap();
        if (ans = true) {
            $.ajax({
                type: "get",
                dataType: "html",
                url: "/Absence/getClockString_off",
                data: { id: @a, date: date },
                success: function (data) {
                    console.log("clockOff");
                    $("#selectAndTable").html(data);
                    initMap();
                    window.alert("您已打卡成功!");
                },
                error: function (msg) {
                    alert("error:" + msg);
                }
            })
        }
        else {
            window.alert("定位超出打卡範圍，無法打卡");
        }
    };


    //返回查詢頁面、重新查詢、判斷昨天是否有打卡
    function search(){
        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/research",
            data: { id: @a},
            success: function (data) {
                console.log("research");
                $("#selectAndTable").html(data);
            },
            error: function () {
                alert("error");
            }
        })

        var d = new Date();
        d.setTime(d.getTime() - 24 * 60 * 60 * 1000);
        var ysd = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/yesterdayVal",
            data: { ysd: ysd },
            success: function (data) {
                console.log("a");
                $("#selectAndTable").html(data);
            },
            error: function (msg) {
                alert("error");
            }
        })
        console.log(ysd);
    };


    //非同步顯示地圖
    function gps() {

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/GeoExample",
            data:"",
            success: function (data) {
                $("#selectAndTable").html(data);
                console.log("gps");
                initMap();
            },
            error: function () {
                alert("error:");
            }
        })
    };

    function initMap() {
        var latlng = { lat: 25.033901, lng: 121.543398 }; //初始位置(資策會)
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17, //放大的倍率
            center: latlng //初始化的地圖中心位置
        });

        var markerCompany = new google.maps.Marker({  //資策會的marker
            position: latlng,
            map: map,
            title: "公司",
        });

        navigator.geolocation.getCurrentPosition(function (position) { //目前位置
            var pos = {
                lat: 25.034901,//position.coords.latitude,
                lng: 121.5436398,//position.coords.longitude,
                //icon: "https://impact100.org/wp-content/uploads/2019/05/Blankemeyer-You-Are-Here.jpg",
            };
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: "現在位置",
                //icon: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg56oId_80MJ8IDojyNWkZ13h6x_xuwRNNcQ&usqp=CAU",
            });
        });

        var cityCircle = new google.maps.Circle({
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.35,
            map,
            center: map.center,
            radius: 150
        });
        var pos = {
            lat: 25.034901,//position.coords.latitude,
            lng: 121.5436398//position.coords.longitude,
        };
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
        });

        const contentString = "<h3>現在位置</h3>";
        const infoWindow = new google.maps.InfoWindow({
            content: contentString,
        });
        map.setZoom(18);
        map.setCenter(pos);

        marker.addListener("click", function () {
            infoWindow.open(map, marker);
        });

        var distance = google.maps.geometry.spherical.computeDistanceBetween(markerCompany.position, marker.position)

        var dis = parseFloat(distance);

        if (dis > 150.00) {
            window.alert("定位超出打卡範圍，無法打卡");
            return false;
        }
        else {
            return true;
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbAEOezUjyT_Cbg1TRTNCsQOtDm3BJh-Y&callback=initMap&libraries=geometry"
        type="text/javascript"></script>