@model MyHR_Web.Models.TFound

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>拾取物申請</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">佈告欄</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="form-group">
                    <label asp-for="CEmployeeId" class="control-label"></label>
                    <input asp-for="CEmployeeId" class="form-control" />
                    <span asp-validation-for="CEmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CDeparment" class="control-label"></label>
                    <input asp-for="CDeparment" class="form-control" />
                    <span asp-validation-for="CDeparment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPhone" class="control-label"></label>
                    <input asp-for="CPhone" class="form-control" />
                    <span asp-validation-for="CPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundSubject" class="control-label"></label>
                    <input asp-for="CFoundSubject" class="form-control" />
                    <span asp-validation-for="CFoundSubject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundCategory" class="control-label"></label>
                    <input asp-for="CFoundCategory" class="form-control" />
                    <span asp-validation-for="CFoundCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundPropertyPhoto" class="control-label"></label>
                    <input asp-for="CFoundPropertyPhoto" class="form-control" />
                    <span asp-validation-for="CFoundPropertyPhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundProperty" class="control-label"></label>
                    <input asp-for="CFoundProperty" class="form-control" />
                    <span asp-validation-for="CFoundProperty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundDate" class="control-label"></label>
                    <input asp-for="CFoundDate" class="form-control" />
                    <span asp-validation-for="CFoundDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundSpace" class="control-label"></label>
                    <input asp-for="CFoundSpace" class="form-control" />
                    <span asp-validation-for="CFoundSpace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundPropertyDescription" class="control-label"></label>
                    <input asp-for="CFoundPropertyDescription" class="form-control" />
                    <span asp-validation-for="CFoundPropertyDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CFoundCheckStatusId" class="control-label"></label>
                    <input asp-for="CFoundCheckStatusId" class="form-control" />
                    <span asp-validation-for="CFoundCheckStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="新增" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
    <div>
        <a asp-action="List">返回 拾取物一覽表</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
